<div class="page-header">
  <%= link_to new_user_photo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Photo
  <% end %>
  <h1>Listing photos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Photo url</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @photos) do |photo| %>
            <td><%= photo.title %></td>
            <td><%= photo.description %></td>
            <td><%= photo.photo_url %></td>
            <td><%= link_to 'Show', user_path(current_user) %></td>
        <td><%= link_to 'Edit', edit_user_photo_path(current_user, photo) %></td>
        <td><%= link_to 'Destroy', [current_user, @photo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
